.header {
  margin: 90px auto 0;
  width: 50%;
  @media(max-width: 1600px) {
    width: 70%;
  }
  @media(max-width: 1140px) {
    width: 90%;
  }
  & .header_hello {
    & h2 {
      color: #666666;
      font-weight: 700;
      font-size: 30px;

      & span {
        color: #000000;
      }
    }
  }
}
