.status_block {
  display: flex;
  margin-top: -15px;

  & .status_message {
    width: 500px;
    height: auto;
    background: #EAEAEA;
    margin-left: 230px;
    position: relative;

    & p {
      font-size: 14px;
      padding: 5px 144px 8px 12px;
      position: relative;

      &::before {
        content: '';
        position: absolute;
        width: 0;
        height: 0;
        left: 10px;
        top: -25px;
        border: 10px solid;
        border-color: transparent transparent transparent #EAEAEA;
      }
    }

    @media(max-width: 768px) {
      margin-left: 100px;
      width: 100%;
      max-width: 340px;
      margin-top: 20px;
      & p {
        padding: 3px 12px;
      }
    }

    & input {
      font-size: 14px;
      width: inherit;
      padding: 19px 144px 22px 12px;
      outline: none;
      border: none;
      background-color: #EAEAEA;
    }
  }

  & .status_btn {
    width: 100px;
    height: 22px;
    font-size: 12px;
    border: none;
    border-bottom: 1px dashed #0C77BB;
    background-color: white;
    color: #0C77BB;
    margin-top: 30px;
    cursor: pointer;
    position: absolute;
    background-color: rgba(0, 0, 0, 0);
    top: -60px;
    right: 0;
  }
}

