@mixin description {
  font-size: 12px;
  color: #999999;
  margin-left: 18px;
}

.form_wrapper {
  margin-top: 45px;

  span {
    font-size: 21px;
  }

  & .form_city_container {
    display: flex;

    span {
      margin-right: 106px;
    }

    @media (max-width: 762px) {
      flex-direction: column;
      & span {
        margin-bottom: 10px;
      }
    }
  }

  & .form_uni_container {
    display: flex;

    span {
      margin-right: 40px;
    }

    @media (max-width: 762px) {
      flex-direction: column;
      & span {
        margin-bottom: 10px;
      }
    }
  }

  & .form_hr {
    border: none;
    background-color: #E5E4E4;
    height: 1px;
    margin-bottom: 40px;
  }

  & .form_password_container {
    display: flex;
    margin-bottom: 20px;

    & span {
      margin-right: 136px;
    }

    @media (max-width: 762px) {
      flex-direction: column;
      & span {
        margin-bottom: 10px;
      }
    }
  }

  & .form_retryPassword_container {
    display: flex;
    margin-bottom: 20px;

    & span {
      margin-right: 50px;
    }

    @media (max-width: 762px) {
      flex-direction: column;
      & span {
        margin-bottom: 10px;
      }
    }
  }

  & .form_email_container {
    display: flex;
    margin-bottom: 20px;

    & span {
      margin-right: 22px;
    }

    @media (max-width: 762px) {
      flex-direction: column;
      & span {
        margin-bottom: 10px;
      }
    }
  }

  & .form_agree_container {
    display: flex;
    margin-bottom: 20px;

    & .form_subscribe_checkbox {
      padding-top: 5px;
    }

    & span {
      margin-right: 100px;
    }

    & .form_agree {
      font-size: 16px;
      margin-left: 10px;
    }

    @media (max-width: 762px) {
      flex-direction: column;
      & span {
        margin-bottom: 10px;
      }
    }
  }

  & .form_btn {
    display: flex;
    margin: 40px auto 0 auto;

    @media (max-width: 768px) {
      & span {
        margin-bottom: 10px;

      }
    }
  }

  & .form_errors_message {
    height: 5px;
    color: red;
    font-size: 12px;
  }

  .form_description {
    @include description;
  }


  .form_lastChange_date {
    @include description;
    margin-left: 12px;
  }

  & .form_errors_message {
    height: 5px;
    color: red;
    font-size: 12px;
  }

  & .form_description {
    @include description;
  }
}


