.select {
  width: 336px;
  height: 31px;
  font-size: 16px;
  padding: 5px;
  margin-bottom: 40px;
  appearance: none;
  cursor: pointer;
  background: url('../../../assets/svg/arrow.svg') no-repeat right 2% top 50%;

}